@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.app-header {
  background-color: #c8e6c9;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 0.1em;
}
.app-header .logo {
  padding: 0.5em 1em;
  color: #fefefe;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
  grid-column: 1;
}
.app-header nav {
  grid-column: 2;
  justify-self: center;
  padding: 1em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  color: #fefefe;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}
.app-header nav a {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-decoration: none;
  color: #fefefe;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.app-header .login-container {
  justify-self: end;
  grid-column: 3;
  grid-row: 1;
}

.toys-list {
  background-color: #f5f5f5;
}
.toys-list .toys-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 1rem;
  padding: 1rem;
}
.toys-list .toys-ul .toy-li {
  list-style-type: none;
  display: grid;
  height: 100%;
}
.toys-list .toys-ul .toy-li .btn-container {
  align-self: end;
}

.toy-edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.toy-edit .toy-img {
  grid-column: 1;
  justify-self: end;
}
.toy-edit .toy-img img {
  height: 400px;
}
.toy-edit .toy-form {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  align-items: start;
  gap: 2em;
}
.toy-edit .toy-form .toy-name {
  grid-row: 1;
}
.toy-edit .toy-form .toy-price {
  grid-row: 2;
}
.toy-edit .toy-form .toy-labels {
  grid-row: 3;
}
.toy-edit .toy-form .toy-stock {
  grid-row: 4;
}
.toy-edit .save {
  justify-self: center;
  grid-column: 1/-1;
}

.toy-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.toy-detail .toy-img {
  grid-column: 1;
  justify-self: end;
}
.toy-detail .toy-img img {
  height: 400px;
}
.toy-detail .toy-info {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  align-items: start;
  gap: 2em;
}
.toy-detail .toy-info .toy-name {
  grid-row: 1;
}
.toy-detail .toy-info .toy-price {
  grid-row: 2;
}
.toy-detail .toy-info .toy-labels {
  grid-row: 3;
}
.toy-detail .toy-info .toy-stock {
  grid-row: 4;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  max-width: 90%;
  width: minmax(300px, 60%);
  pointer-events: auto;
  animation: fadeIn 0.3s ease-in-out;
  border: 1px solid #e0e0e0;
  background: linear-gradient(135deg, #b3e5fc 0%, #f8bbd0 100%);
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: auto;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding: 0;
  font-weight: bold;
  color: #3f3f3f;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.close-btn:hover {
  background-color: rgb(228.0632911392, 245.7848101266, 253.9367088608);
}

.modal-content {
  font-size: 1rem;
  color: #3f3f3f;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.user-msg {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  max-width: 300px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  color: #3f3f3f;
  text-align: center;
  font-size: 0.875rem;
  z-index: 1100;
}
.user-msg.success {
  background-color: #c8e6c9;
  border: 1px solid rgb(235.0625, 245.9375, 235.425);
  color: #3f3f3f;
}
.user-msg.error {
  background-color: #f8bbd0;
  border: 1px solid rgb(252.76, 233.24, 239.96);
  color: #3f3f3f;
}
.user-msg .close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1rem;
  color: #8a8a8a;
  cursor: pointer;
}
.user-msg .close-btn:hover {
  color: #bdbdbd;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.icon {
  width: 1em;
  height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

.container {
  padding: 1em 2em;
  border-radius: 2em;
}

button, input {
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0.1em;
  border: none;
  background-color: rgb(228.0632911392, 245.7848101266, 253.9367088608);
  border-radius: 0.5em;
  border: 2px solid transparent;
  color: #3f3f3f;
  font-weight: 600;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
button.btn-main, input.btn-main {
  color: #3f3f3f;
}
button.btn-secondary, input.btn-secondary {
  color: #3f3f3f;
  background-color: #fefefe;
  border: 1px solid #b3e5fc;
}
button.btn-text, input.btn-text {
  background-color: #fefefe;
}
button:hover, button:focus, button:active, input:hover, input:focus, input:active {
  border: 2px solid transparent;
  background-color: #b3e5fc;
}
button.btn-text:hover, button.btn-text:focus, input.btn-text:hover, input.btn-text:focus {
  text-decoration: underline;
  background-color: #fefefe;
}

.main-layout {
  display: grid;
  grid-template-columns: 1.6rem 1fr 1.6rem;
}
.main-layout > * {
  grid-column: 2;
}
.main-layout.full {
  grid-column: 1/-1;
}

footer {
  padding: 1em;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
