@use '../setup/vars';

.toy-detail{

    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto auto auto auto;
    gap: 1rem;

    .toy-img{
        grid-column: 1;
        // grid-row: 1 / 6;
        img{
            height: 400px;
        }
        justify-self: end;
    }

    .toy-info{
        grid-column: 2;
        display: grid;
        grid-template-rows: auto auto auto auto 1fr;
        align-items: start;
        gap: 2em;
        .toy-name{
            grid-row: 1;
        }
        .toy-price{
            grid-row: 2;
        }
        .toy-labels{
            grid-row: 3;
        }
        .toy-stock{
            grid-row: 4;
        }
    }

    .review-list{
        grid-column: 1/-1;
        color:vars.$text-primary;
        justify-self: center;
        .review-ul{
            list-style-type: none;
            width: 100%;
            .review-li{
                background-color: vars.$pastel-white;
                border: 1px solid vars.$border-color-light;
                padding: 0.5em 1em;
                margin: 0.5em;
                border-radius: 4px;
                width: 100%;
                box-shadow: vars.$box-shadow-light;
            }
        }
    }

}