@use '../setup/vars';
@use '../setup/mixings';

.toys-list{

    .toys-ul{
        display: grid;
        grid-template-columns:repeat(auto-fit, 150px);
        gap: 1rem 3em;

        .toy-li{
            background-color: vars.$pastel-gray-light;
            box-shadow: vars.$box-shadow-light;
            border: 1px solid vars.$border-color-light;
            list-style-type: none;
            display: grid;
            height: 100%;
            // padding: 0.4em;
            border-radius: 0.5em;
            .btn-container{
                align-self: end;
                button{
                    padding: 0;
                }
            }
        }

    }   
}